<div>
<h1>Juego de la Oca</h1>
</div>
<div>
<a href="/mueve"><p>jugada</p></a>
</div>
<div>
Posicion actual : <%= @posicion %>
</div>
<div>
<%= @mensaje %>
</div>
<!--
<%= "#LA VARIABLE POSICION CAMBIA A 4 --- ACTIVA DIFICULTAD-- CAMBIA VARIABLE POSICION DESDE EL BACK Y MUESTRA MENSAJE PERO NO MUESTRA EL CAMBIO DE VARIABLE POSICION EN LA VISTA SOLAMENTE " %>
-->
